:root {
    --color-background: #F0F0F7;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body,
input,
label,
select,
textarea,
button{
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

input, select {
    background-color: var(--color-input-background);
    border: 1px solid #E6E6F0;
    border-radius: .5rem;
    height: 4rem;
    margin: 1rem 0;
}

#landing-page header {
    width: 100%;
    background-color: var(--color-text-complement);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}

#landing-page header img{
    width: 6rem;
    height: 6rem;
}

#landing-page header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#landing-page header a {
    text-decoration: none;
    text-decoration-style: none;
}

#landing-page header a img{
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

#landing-page .body {
    padding: 5% 0;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#landing-page .container-form {
    border: 1px solid;
    border-radius: 1rem;
    border-color: #C1BCCC;
    width: 60vw;
    max-width: 500px;
    padding: 2rem 4rem;
}

#landing-page .container-form .title {
    padding: 1.2rem 0 2.2rem 0;
}

#landing-page .container-form .info {
    border: 1px;
    border-radius: .8rem;
    background-color: #fccece;
    padding: 1rem;
    margin-bottom: 2.2rem;
}

#landing-page .body .container-form #lista-contatos{
    font-size: 1.9rem;
    padding: 2rem 0;
}

#landing-page .body .container-form #lista-contatos a{
    text-decoration: none;
}

#landing-page .body .container-form #lista-contatos a img{
    width: 2.5rem;
    height: 2.5rem;
}

#landing-page .container-form form {
    display: flex;
    flex-direction: column;
}

#landing-page .container-form #add{
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
    background-color: var(--color-text-complement);
    margin-top: -5rem;
}

#landing-page .container-form form button {
    width: 100%;
    height: 4rem;
    background-color: var(--color-text-complement);
    border: 0;
    border-radius: .5rem;
    color: var(--color-button-text);
    margin-top: 3rem;
}

#landing-page .container-form .footer {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto 2rem auto;

    font-size: 1.2rem;
}