:root {
    --color-background: #F0F0F7;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body,
input,
label,
select,
textarea,
button{
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

input, select {
    background-color: var(--color-input-background);
    border: 1px solid #E6E6F0;
    border-radius: .8rem;
    height: 5rem;
    margin: 1rem 0;
    padding: 1.5rem;
}


input:focus, select:focus {
    outline: none;
}

a {    
    text-decoration: none;
    text-decoration-style: none;
}

button {
    width: 100%;
    height: 5rem;
    background-color: var(--color-text-complement);
    border: 0;
    border-radius: .5rem;
    color: var(--color-button-text);
    margin-top: 3rem;
}

button:hover {
    background-color: var(--color-text-base);
    cursor: pointer;
    font-size: 1.8rem;
}

body header {
    width: 100%;
    background-color: var(--color-text-complement);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 5rem;
    height: 7rem;
}

body header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body header nav a {
    color: var(--color-text-base);
}

body header nav a img {
    margin-left: 1.5rem;
    width: 2.8rem;
    height: 2.8rem;
}

body header nav a img:hover {
    margin-left: 1.3rem;
    width:  3rem;
    height: 3rem;
}

body main {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;    
}

body .form {
    border: 1px solid;
    border-radius: 1rem;
    border-color: #C1BCCC;
    width: 60vw;
    max-width: 500px;
    padding: 2rem 4rem;
}

body .form .title {
    padding: 1.2rem 0 2.2rem 0;
}

body .form .info {
    border: 1px;
    border-radius: .8rem;
    background-color: #fccece;
    padding: 1rem;
    margin-bottom: 2.2rem;
    color: red;
}

body .form form {
    display: flex;
    flex-direction: column;
}

body .form .footer {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto 2rem auto;

    font-size: 1.2rem;
}